/*This is because im really bored, and just realised I should have made a seperate doccument for the different fonts
.....I should do that later*/

#header3 {
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 50px;

}
/*The canvas for the Guess The Number game*/

#myCanvas{
	height: 150px;
	width: 375px;
	margin-left: 425px;
	padding: 0px;
}

/*This is for the Guess The Number Button*/
#GTN{
    background-color: #0B0C10;
    color: white;
    font-family: "Arial Narrow" ;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5%;
    border-color: #0B0C10;
    height:100px;
    width: 100px;
    vertical-align: top;
    box-shadow: 3px 4px black;
}

#audio{
	display: none;
}

#deGame{
	margin-left: 450px;
}

#enter{
	border-radius: 10%;
	background-color: #0B0C10;
	color: white;
	border: none;
	font-family: "Arial Narrow" ;
    font-size: 20px;
    box-shadow: 3px 4px black;
}

#GTN:hover{
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    transform: scale(1.05);
}

#enter:hover{
	border-color: black;
	border:1px;
    transform: scale(1.05);
}


/* THIS IS THE OUTLINE GRID FORMAT THINGY ON ASSIGMENT 3*/
.grid-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(11, minmax(100px, max-content));
	padding: 20px;
	font-family: "Arial Narrow" ;
	color: #C5C6C7;
	font-size: 16px;
	text-align: center;
}
/* THIS IS THE OUTLINE GRID FORMAT THINGY ON ASSIGMENT 5*/
.grid-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, minmax(200px, max-content));
	padding: 10px;
	margin: 0px;
}

.intro { /*Spans all rows*/
  	padding: 10px;
 	overflow-x: hidden;
	grid-column-start: 1;
	grid-column-end: -1;
}

.Q1 { /*Spans all rows*/
	padding: 20px;
	overflow-x: hidden;
	grid-column-start: 1;
	grid-column-end: -1;
}

.Q1-1{ /*Spans first third*/
	grid-column-start: -7;
	grid-column-end: 3;
	margin-left: 10px;
	margin-right: 10px;
}

.Q1-2{ /*Spans second third*/
	grid-column-start: -5;
	grid-column-end: 5;
	margin-left: 10px;
	margin-right: 10px;
}

.Q1-3{ /*Spans third third*/
	grid-column-start: -3;
	grid-column-end: 7;
	margin-left: 10px;
	margin-right: 10px;
}

.Q2-1{ /*Spans first half*/
	grid-column-start: -7;
	grid-column-end: 4;
	margin-left: 20px;
	margin-right: 20px;
}

.Q2-2{ /*Spans second half*/
	grid-column-start: -4;
	grid-column-end: 7;
	margin-left: 20px;
	margin-right: 20px;
}

.chartPics{ /*Formatts the pictures in the page*/
	width: 95%;
	padding-top: 10px;
}

/* ---------------------------- */
body{
	background: #0B0C10;
    
}

/*All the fonts and stuff, aside from paragraph I litterally coppied it off another doccument im not even sure why*/
p{
	font-family: "Arial Narrow" ;
	text-align: center;
	color: #C5C6C7;
	margin-bottom: 10px;
	padding: 20px;
	padding-top: 10px;
	line-height: 15px;
}

h1{ 
	font-family: "Impact";
	color:  #66FCF1;
	letter-spacing: 5px;
	font-size: 60px;
	
}

h2{ 
	font-family: "Arial Narrow" ;
	color:  #C5C6C7;
	text-align: center;
}

h3{
	font-family: "Impact";
	font-size: 25px;
	color: #1f1f33;
	text-align: center;
	letter-spacing: 2px;
}
h4{
	font-family: "Impact";
	font-size: 20px;
	color: #1f1f33;

}

h5{
	font-family: "Impact";
	color: #C5C6C7;
	letter-spacing: 10px;
	font-size: 50px;
	text-shadow: 2px 2px  #0B0C10;
	text-align: center;
	margin: 0px;
}
hr{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
	margin-top: 30px;
	border-color: #1F2833;
}

input{
	border-radius: 10%;
}

@keyframes rainbow{ /*Rainbow background animation*/
    0% {background-color: red}
    14%{background-color: orange}
    28%{background-color: yellow}
    42%{background-color: green}
    56%{background-color: blue}
    70%{background-color: indigo}
    84%{background-color: hotpink}
    100% {background-color: red}
}
