/*THIS FILE INCLUDES*/
/*ALL Elements not relating to links, menus, or images that are links
Basically everything that if you click, does nothing*/


/* The header text section for front page and other sub pages */
/*The header sections are the part that has no background and containes the title and opening*/
#header, #header2 {
	text-align: center;
	text-shadow: 2px 3px black;
	background-repeat: no-repeat;
}

#header { /*For the main page*/
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	padding-top: 105px;
	padding-bottom: 65px;	
	margin-bottom: 0px;
}

#header2 { /*For the sub pages*/
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	padding-top: 75px;
	padding-bottom: 50px;
}


/* To get the body to be all indented and cool*/
#body_block{
	background-color: white;
	margin: 12.5%;
	margin-top: 0px;
}
/*-------------------------------------------------*/
/* For the grid layout on the home page*/
.small-grid {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  padding: 10px;
  overflow-x: hidden;
}

.sgrid-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  font-family: "Arial Narrow" ;
  font-size: 16px;
  text-align: left;
}
/*-------------------------------------------------*/

/* For the grid layout on assignments and independant projects*/
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-family: "Arial Narrow" ;
  font-size: 16px;
  text-align: left;
  overflow-x: hidden;
}
/*The thingy for the FizzBuzz*/
.fizzBuzz{
	max-height: 300px;
}

#myList{
	list-style-type: none;
}
/*-------------------------------------------*/

/*-------------------------------------------------*/
#about_me{
	padding: 20px;
	font-family: "Arial Narrow" ;
	font-size: 16px;
	text-align: center;
}

.Assign_Pics{
	width: 100%;
	height: 200px;
}


h1{ /*Main greeting*/
	font-family: "Impact";
	color:  #66FCF1;
	letter-spacing: 5px;
	font-size: 60px;
	
}

h2{ /*Introduction font*/
	font-family: "Arial Narrow" ;
	color:  #C5C6C7;
	text-align: center;
}

h3{ /*For the subheadings on the main page*/
	font-family: "Impact";
	font-size: 25px;
	color: #1f1f33;
	text-align: center;
	letter-spacing: 2px;
}
h4{ /*Sub headings on About me page*/
	font-family: "Impact";
	font-size: 20px;
	color: #1f1f33;

}

h5{ /*Sub headings on some really cool page which im really not sure about*/
	font-family: "Impact";
	color: black;
	letter-spacing: 5px;
	font-size: 60px;
	text-align: center;
}

p { /*Paragraphs*/
	font-family: "Arial Narrow" ;
	text-align: center;
	color: #C5C6C7;
	background-color: #0B0C10;
	margin-bottom: 10px;
	padding: 20px;
	padding-top: 10px;
	line-height: 15px;
}

body{ /*Just the background for the body*/
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	margin: 0px;
	overflow-x: hidden;

}
ul1{ /*A random list on assignments*/
	list-style-type: none;
}