/*THIS FILE INCLUDES*/
/*ALL Elements not relating to links, menus, or images that are links
Basically everything that if you click, does nothing*/


/* The header text section for front page */
#header, #header2 {
	text-align: center;
	text-shadow: 2px 3px black;
	background-repeat: no-repeat;
}

#header {
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	padding-top: 105px;
	padding-bottom: 65px;	
	margin-bottom: 0px;
}

#header2 {
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	padding-top: 75px;
	padding-bottom: 50px;

}

#body_block{
	background-color: white;
	margin: 10%;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1{ 
	font-family: "Impact";
	color:  #66FCF1;
	letter-spacing: 5px;
	font-size: 60px;
	transform: scaleY(1.5);
	transform: scaleX(1.1);
}

h2{ 
	color:  #C5C6C7;
	text-align: center;
}

h3{
	color: #0B0C10;
	text-align: center;
}

p {
	text-align: center;
	color: black;
	margin-bottom: 0px;
	padding: 10px;
}

body{
	background-image: url("../Images/stars_bg.jpg");
	background-attachment: fixed;
	margin: 0px;
	overflow-x: hidden;

}