/*THIS FILE INCUDES
Everything that does something when you interact with it*/

/*TOP NAVIGATION BAR*/
.topnav {
    background-color: #0B0C10;
    overflow: hidden;
    opacity: 0.75;
    position: absolute; top:20; left: 0;
    z-index: 2;
    width: 100%;
}
/*Style the links*/
.topnav a {
    float: left;
    color:  #e2fffe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*Change the color of links on hover*/
.topnav a:hover {
    background-color: #1F2833;
    color: #66FCF1;
}
/*Add a color to the active/current link*/
.topnav a.active {
    background-color: #45A29E;
    color: white;
}

/*IMAGE LINKS ON FRONT PAGE*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 256px;
    height: 256px;
    border-radius: 50%;
} 

.center:hover{
   box-shadow: 5px 6px #bbc1c0;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1 ; 
}

.column {
    float: left;
    width: 33.3333%;
    background-color: white;

}
.row.after {
    content: "";
    display: table;
    clear: both;

} 
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} 