/*THIS FILE INCUDES
Everything that does something when you interact with it*/

/*TOP NAVIGATION BAR*/
.topnav {
    background-color: #0B0C10;
    overflow: hidden;
    opacity: 0.75;
    position: absolute; top:20; left: 0;
    z-index: 2;
    width: 100%;
}
/*Style the links*/
.topnav a {
    float: left;
    color:  #e2fffe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Arial Narrow" ;
}
/*Change the color of links on hover*/
.topnav a:hover {
    background-color: #1F2833;
    color: #66FCF1;
}
/*Add a color to the active/current link*/
.topnav a.active {
    background-color: #45A29E;
    color: white;
}

/*IMAGE LINKS ON FRONT PAGE*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    cursor: pointer;
} 

.center:hover{ /*Makes the images respons to hover*/
   box-shadow: 5px 6px grey;
   transform: scale(1.05);
}
/*This section is jsut for formatting the three 
columns containing the clicky images*/
.column {
    float: left;
    width: 33.3333%;
    background-color: white;

}
.row.after { /*Honestly not sure what this line does*/
    content: "";
    display: table;
    clear: both;

} 
/* This is for all the buttons*/
/*This is for the read more one on assignments*/
#more {display: none;}
#moreB {display: none;}
#moreC {display: none;}

.readMorebtn{
    background-color: white;
    border: none;
    font-family: "Arial Narrow" ;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;

}
/*This is for neutral buttons on assignemnt page*/
.JSPractice{
    background-color: #0B0C10;
    font-family: "Arial Narrow" ;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 5%;
    border-color: #0B0C10;
    width: 75px;
    height: 50px;
}
 /*To make the buttons respond to being hovered*/
.JSPractice:hover{
    box-shadow: 5px 6px grey;
    transform: scale(1.05);
    
}

/*This is for the independant projects button*/
.IPButton{
    width: 100%;
    height: 100px;
    padding: 15px;
    font-family: "Arial Narrow" ;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.IPButton:hover{
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    box-shadow: 5px 6px lightgrey;
    transform: scale(1.05);
}

/*This section is for animations*/
@keyframes rainbow{ /*Rainbow background animation*/
    0% {background-color: red}
    14%{background-color: orange}
    28%{background-color: yellow}
    42%{background-color: green}
    56%{background-color: blue}
    70%{background-color: indigo}
    84%{background-color: hotpink}
    100% {background-color: red}
}